.workSection {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    height: 130px;
    margin: 0 10px; 
}

.use {
    display: flex;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 150px;
    height: 150px;
}

