.image-container {
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: space-around; /* Distribute space evenly between items */
    align-items: center; /* Center items vertically */
  }

.agri-connect-container{
    margin-left: 200px;
    margin-right:150px ;
    margin-top: 50px;
}