.farmer_registration {
    padding: 20px;
    max-width: 650px;
    height: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(230, 230, 230, 0.6);
  }
  .body{
    background: url("../../assets/field-image.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
  }
  .farmer_registration h2 {
    text-align: center;
    color: #28a745;
    font-size: 25px;
    margin-bottom: 0px;
  }
  
  .farmer_registration form {
    display: flex;
    flex-direction: column;
  }
  
  .farmer_registration label {
    margin-bottom: 5px;
    color: #000000;
    font-size: 1.22rem;
    padding-top: 25px;
  }
  
  .farmer_registration input {
    padding: 8px;
    font-size: 16px;
    margin-top: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 110%;
  }
  .inputs{
    display: flex;
    flex-direction: column ;
    font-size: 1.3rem;
  }
  .labels{
    display: flex;
    flex-direction: column;
  }
  .inputs_labels{
    display: flex;
    justify-content: space-evenly;
  }

  .farmer_registration button {
    padding: 10px;
    font-size: 18px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    margin: 20px 35%;
  }
  .farmer_registration input:focus {
    outline: none;
    border-color: #28a745;
  }
  .farmer_registration button:hover {
    background-color: #218838;
  }
  
  