.body{
    display: flex;
    /* flex-direction: row; */
    padding: 15px 150px;
    gap: 150px;
    font-size: 1.2rem;
}
.farmer_image{
    height: 550px ;
}
.google_logo{
    height: 45px;
    width: 45px;
}
.sign_text{
    display: flex;
    align-items: center;
    padding: 10px;
    color: rgb(97, 85, 85);
}
.login_form{
    padding-top: 100px;
    padding-left: 20px;
}
.inputs{
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input{
    width: 300px;
    height: 45px;
    border-radius: 8px;
    border: 1.5px solid grey;
    padding-left: 15px;
    font-size: 1.1rem;
}
.forgot_password{
    text-decoration: underline;
    font-size: 1rem;
    color: rgb(99, 14, 14);
    margin-bottom: 20px;
}
.login_button{
    margin: 25px 0px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: 1.5px solid grey;
    color: white;
}
